@using YokaiTE.Interfaces
@using YokaiTE.Utils
<div @oncontextmenu:preventDefault="true"
     @onclick="OnClick"
     class="document-card"
     @oncontextmenu="OnContextMenu">
    <div class="card-preview">
        

        @if (!string.IsNullOrEmpty(Document.PreviewPngBase64))
        {
            <img alt="Preview"
                 style="width:100%;height:100%;border-radius:4px;display:block;"
                 src="@($"data:image/png;base64,{Document.PreviewPngBase64}")" />
        }
        @if (Document.Favorite)
        {
            <div class="fav-icon">
                <img src="svg/favoriteFilled.svg" width="24" height="24" alt="Favorito" />
            </div>
        }
    </div>
    <div class="card-info">
        <span class="doc-title">@Document.Title</span>
        <span class="doc-subtitle">
            @FileInfoProvider.GetSubtitle(Document, SelectedField)
        </span>
        
    </div>
</div>

@code {
    [Parameter] public DocumentMetadata Document { get; set; }
    [Parameter] public string SelectedField { get; set; }
    [Parameter] public IFileInfoProvider FileInfoProvider { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnContextMenu { get; set; }
}