
.document-edit-top {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--background-light);
    z-index:9999;
}

.doc-edit-top-nav {
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #D2D2D2;
}

.doc-edit-top-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.file-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 270px;
}

.file-name {
    color: #181818;
    font-family: "Cabinet Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    background: transparent;
}

.doc-edit-right {
    display: flex;
    align-items: center;
    gap: 4px;
}

.saved-span {
    color: #0B60DF;
    font-family: "Cabinet Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.toolbar-top-container {
    display: flex;
    padding: 8px 32px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.font-toolbar {
    display: flex;
    width: 464px;
    align-items: flex-start;
    gap: 24px;
}

.style-toolbar {
    display: flex;
    align-items: center;
    gap: 24px;
}


.style-btn {
    fill: #E6E6E6;
    padding:2px;
    border-radius:4px;
}


    .style-btn:hover {
        background: #D7D7D7;
    }

    .style-btn.active {
        background: #D7D7D7;
    }
    
    .options-btn{
        position: absolute;
        bottom:-20px;
        left:-5px;
        display: flex;
        gap:8px;
    }
    
    .opt-btn{
        padding: 2px 7px;
        overflow: hidden;
        vertical-align: text-bottom;
        cursor: pointer;
    }

.opt-btn:hover{
    background: #bbb;
    border-radius: 4px;
}