<div class="search-input @(Mobile ? "mbl" : "")">
    <!-- ícone lupa -->
    <img src="svg/search.svg" alt="Search" />
    <!-- input controlado -->
    <input style="width: 100%" type="text"
           placeholder="@Placeholder"
           value="@Value"
           @oninput="OnInput" />
</div>

@code {
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public string Placeholder { get; set; } = "Pesquisar";
    [Parameter] public bool Mobile { get; set; } = false;

    private async Task OnInput(ChangeEventArgs e)
    {
        Value = e.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}