.context-menu-modal {
    position: fixed;
    background: var(--dropdown-color);
    border-radius: 8px;
    padding: 8px 0;
    z-index: 10001;
    min-width: 140px;
    display: flex;
    width: 127px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    border: 1px solid var(--dropdown-border);
}

.modal-back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.context-btn {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;


    display: flex;
    padding: 8px 16px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

    .context-btn:hover {
        background: #eee;
    }
    
    .context-btn rename {
        color: #181818;
        font-family: "Cabinet Grotesk";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .context-btn delete{
        color: #AF0E0E;
        font-family: "Cabinet Grotesk";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
