.modal-back {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 599px;
    height:auto;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: #E6E6E6;
}

.modal-top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.modal-name {
    color: #181818;
    font-family: "Cabinet Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-input {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
    border-bottom: 1px solid #D7D7D7;
    width: 100%;
    transition: border-bottom-color 0.3s, border-bottom-width 0.3s ease-in-out;

}

.search-input:focus-within {
    border-bottom: 1px solid #181818;
}

.search-input input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    color: #4C4C4C;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.confirm-btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #181818;
    color:#f2f2f2;
}

.cancel-btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #181818;
}