@using TG.Blazor.IndexedDB
@using YokaiTE.Component
@inject IndexedDBManager DbManager

<div class="modal-back">
    <div class="modal">
        <div class="modal-top-container">
            <h1 class="modal-name">Renomear arquivo</h1>
            <button @onclick="OnCancel">
                <img src="svg/close.svg" width="16" height="16" alt="Fechar"/>
            </button>
        </div>
        <div class="w-100">
            <NormalInput Value="@Document.Title" ValueChanged="OnTitleChanged"></NormalInput>
        </div>
        <div class="button-container">
            <button @onclick="OnCancel" class="cancel-btn">Cancelar</button>
            <button @onclick="Rename" class="confirm-btn">Renomear</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public Document Document { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task Rename()
    {
        await DbManager.UpdateRecord(new StoreRecord<Document> { Storename = "documents", Data = Document });
        await OnClose.InvokeAsync();
    }

    private async Task OnCancel()
    {
        await OnClose.InvokeAsync();
    }

    private void OnTitleChanged(string title)
    {
        Document.Title = title;
    }
}