@using YokaiTE.Component
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<AnalyticsConsentBanner />

<main>
    <article class="content">
        @Body
    </article>
</main>
